<html>
<head></head>
<body>
<div id="fb-root"></div>
<script>
window.fbAsyncInit = function() {
	FB.init({
	appId      : '292800734200235',
	status     : true, // check login status
	cookie     : true, // enable cookies to allow the server to access the session
	xfbml      : true  // parse XFBML
});

var globalResponse = {};
var P = "";
var N = "";

FB.Event.subscribe('auth.authResponseChange', function(response) {
		if (response.status === 'connected') {
			testAPI();
		} else {
			FB.login();
		}
});
};

// Load the SDK asynchronously
(function(d){
 var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
 if (d.getElementById(id)) {return;}
 js = d.createElement('script'); js.id = id; js.async = true;
 js.src = "//connect.facebook.net/en_US/all.js";
 ref.parentNode.insertBefore(js, ref);
 }(document));

// Here we run a very simple test of the Graph API after login is successful. 
// This testAPI() function is only called in those cases. 
function testAPI() {
	console.log('Fetching your information.... ');
	// Do stuff to the reply
	FB.api('/me/user_activities', function(response) {
			//console.log('Good to see you, ' + response.name + '.');
			globalResponse = response;
			//P = response.paging.next;
			//N = response.paging.previous;
			//printStory(response);
			console.log(response);
		});
}

function previt() {
	var ttac = P.substring(P.indexOf("&until="), P.length);
	console.log(ttac);
	var end = ttac.substring(1, ttac.length).indexOf("&");
	if (end == -1) {
		end = ttac.length;
	}
	ttac = ttac.substring(0, end);
	console.log(ttac);
	FB.api('/me/posts?limit=25' + ttac, function(response) {
		P = response.paging.next;
		N = response.paging.previous;
		printStory(response);
	});
}

function nextit() {
	var ttac = N.substring(N.indexOf("&since="), N.length);
	console.log(ttac);
	
	var end = ttac.substring(1, ttac.length).indexOf("&");
	if (end == -1) {
		end = ttac.length;
	}
	ttac = ttac.substring(0, end);
	console.log(ttac);
	FB.api('/me/posts?limit=25' + ttac, function(response) {
		P = response.paging.next;
		N = response.paging.previous;
		printStory(response);
	});
}

function printStory(response) {
	for (var i = 0; i < response.data.length; i++) {
		console.log(response.data[i].story);
	}
}

function shutit() {
	document.body.style.cursor = "pointer";



function turnit() {
	document.body.style.cursor = "auto";
}

</script>

<!--
Below we include the Login Button social plugin. This button uses the JavaScript SDK to
present a graphical Login button that triggers the FB.login() function when clicked. -->

<div onmouseover='shutit()' onmouseout='turnit()' onmousedown='previt()' style="background-color:green; width:120px; height:50px">prev</div>
<div onmouseover='shutit()' onmouseout='turnit()' onmouseover='nextit()' style="background-color:green; width:120px; height:50px">next</div>
<fb:login-button show-faces="true" scope="read_stream,read_friendlists" width="200" max-rows="1"></fb:login-button>

</body>
</html>
